@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Pacifico');


body {
    font-family: "Raleway",sans-serif;
    background: #f5f5f5;
    color: #4e4e4e;
    margin-top: 60px;
}
header h2 {
    font-family: "Pacifico", sans-serif;
    border-bottom: 2px solid;
    font-size: 40px;
    margin: 0px;
}
#main-header {
    position: fixed;
    width: 100%;
    background: rgb(255, 255, 255,.9);
    top: 0px;
}
form {
    width: 1000px;
    margin: auto;
    margin-top: 80px;
}
#submit {
    width: 1000px;
}
#top-stories {
    width: 1000px;
    margin: auto;
}
article {
    max-width: 30%;
    display: inline-table;
}
article img{
    max-width: 100%;
}
a {
    text-decoration: none;
    color: #000;
}
a:hover {
    color: #444;
}